@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dad3f8;
}
::selection {
  background: #6d50e2;
  color: #fff;
}
.container {
  max-width: 950px;
  width: 100%;
  padding: 40px 50px 40px 40px;
  background: #fff;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}
.container .topic {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  overflow: scroll;
}
.content {
  display: flex;
  align-items: top;
  justify-content: space-between;
  overflow: scroll;
}
.content .list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  margin-top: 50px;
  position: relative;
  overflow: scroll;
}
.content .list label {
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
  overflow: scroll;
}
#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help,
#code:checked ~ .list label.code,
#about:checked ~ .list label.about {
  color: #fff;
}
.content .list label:hover {
  color: #6d50e2;
}
.content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  background: #6d50e2;
  transition: all 0.4s ease;
}
#home:checked ~ .list .slider {
  top: 0;
}
#blog:checked ~ .list .slider {
  top: 60px;
}
#help:checked ~ .list .slider {
  top: 120px;
}
#code:checked ~ .list .slider {
  top: 180px;
}
#about:checked ~ .list .slider {
  top: 240px;
}
.content .text-content {
  width: 80%;
  height: 100%;
}
.content .text {
  display: none;
}
.content .text .title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}
.content .text p {
  text-align: justify;
  overflow: scroll;
}
.content .text-content .home {
  display: block;
}
#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code,
#about:checked ~ .text-content .about {
  display: block;
}
#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home,
#about:checked ~ .text-content .home {
  display: none;
}
.content input {
  display: none;
}

.grid {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  overflow-y: scroll;
}

.grid-container {
  max-height: 80%;
  overflow: hidden;
}

.container {
  max-height: 80%;
}

article {
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  color: black;
  border-radius: 0.25em;
}
