/* Import and Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Popup Styles */
.popup {
  font-family: "Poppins";
  background: #fff;
  height: 100%;
  width: 320px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.popup :is(header, .cursor-container) {
  display: flex;
  align-items: row;
  justify-content: space-between;
}
.popup header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup header .reset {
  color: #878787;
  background: #f2f3fb;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup p {
  font-size: 12px;
  margin-bottom: 5px;
}
.popup h2 {
  font-size: 18px;
  margin: 10px 0 5px;
}
.popup hr {
  border-top: 0.5px solid rgb(150, 150, 150);
}

/* Button Styles */
.button-container input[type="submit"],
.button-container button,
#add-btn,
#delete-btn {
  background-color: #feb1c0;
  color: black;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  border-radius: 0.25em;
  font-size: 1rem;
  width: 100%;
}
.button-container input[type="submit"],
.button-container button {
  margin: 10px 0;
}

#add-btn {
  background-color: #61a9e3;
  padding: 8px 16px;
  margin: 0;
  width: 80%;
}
#delete-btn {
  background-color: #f56f6f;
  padding: 8px 16px;
  margin: 0;
  width: 80%;
}

#comebacks-button {
  background-color: #bbdefb;
}
#signal-button {
  background-color: #c5e1a5;
}
#mask-button {
  background-color: #fff59d;
}

/* New Words Section */
.outer-wrapper {
  margin-bottom: 20px;
}
.new-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}
#input-word {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

/* Hidden Class */
.hidden {
  display: none;
}

.switchContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  align-items: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.status-text {
  margin-left: 10px;
}
